@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    /* 6 icons * 100px = 600px */
    transform: translateX(-600px);
  }
}

@keyframes marquee-right {
  0% {
    /* 6 icons * 100px = 600px */
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0);
  }
}

@layer utilities {
  .animate-marquee-left {
    animation: marquee-left 50s linear infinite;
  }

  .animate-marquee-right {
    animation: marquee-right 50s linear infinite;
  }
}
