@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@layer utilities {
  .animate-marquee-left {
    animation: marquee-left 50s linear infinite;
  }

  .animate-marquee-right {
    animation: marquee-right 50s linear infinite;
  }
}
