@import "tailwindcss";

@theme inline {
  /* Brand Colors */
  --color-dosasce-red: #e63047;
  --color-dosasce-light-red: #fbd3d9;
  --color-dosasce-green: #0c6e30;
  --color-dosasce-light-green: #d9f2e3;
  --color-dosasce-yellow: #f59e0b;
  --color-dosasce-light-yellow: #fef3c7;
  --color-dosasce-black: #191516;
  --color-dosasce-white: #fdfbfe;
}

/* Customize text selection appearance */
::selection {
  background-color: var(--color-dosasce-light-green);
  color: var(--color-dosasce-black);
}
