@import "tailwindcss";

@theme inline {
  --font-sans-serif-system:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Noto Sans", "Liberation Sans", Arial, sans-serif;
  --font-serif-system: "Georgia", "Times New Roman", "Times", serif;
  --font-monospace-system:
    ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", "Consolas", "Courier New", monospace;
  --font-emoji-system:
    "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol";

  --font-sans: var(--font-sans-serif-system), var(--font-emoji-system);
  --font-serif: var(--font-serif-system), var(--font-emoji-system);
  --font-mono: var(--font-monospace-system), var(--font-emoji-system);
}

body {
  @apply font-sans;
}
