@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "./animations.css";
@import "./backgrounds.css";
@import "./colors.css";
@import "./fonts.css";
@import "./normalize.css";
@import "./scrollbar.css";
@import "./typography.css";

@source "../**/*.{js,ts,jsx,tsx,mdx}";
